MEDIA_PATH_MOVIES=/media/Movies
MEDIA_PATH_TV=/media/TV
FFMPEG_BIN=ffmpeg
FFPROBE_BIN=ffprobe
TRANSLATION_PROVIDER=deep-translator
DEEP_TRANSLATOR_BIN=/home/USER/.local/bin/deep-translator
SCAN_INTERVAL_MINUTES=15
